@tailwind base;
@tailwind components;
@tailwind utilities;

.gjs-one-bg {
  background-color: whitesmoke;
}

.gjs-two-color {
  color: blue;
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: wheat;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: navy;
}

.gjs-mdl-dialog {
  height: 80vh;
  width: 80vw;
}

.gjs-mdl-dialog textarea {
  width: 90%;
  height: 90%;
}
